@import url("https://fonts.googleapis.com/css?family=Ubuntu");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  
}

.bg {
  position: absolute;
  left: -30px;
  width: calc(100vw + 60px);
  filter: blur(0px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-repeat: no-repeat;
}

.loadingText {
  font-size: 50px;
  color: #fff;
}

.modal{
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  margin: 0;
}

.top{
  background-color: #1F2C34;
  height: 80px;
}

.containerChat{
  background-color: #121B22;
  height:360px;
}
.circle-image{
  width: 40px;
  height: 40px;
  background-image: url('../curriculumStart/myPhoto.png');
  background-size: cover;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.mainChat:hover{
  cursor: pointer;
}
.topChat{
  background-color: #1F2C34;
  height: 50px;
}

.circle-image2{
  width: 30px;
  height: 30px;
  background-image: url('../curriculumStart/myPhoto.png');
  background-size: cover;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.containerChat2{
  background-image: url('../curriculumStart/whatsappBackground.jpg');
  height:390px;
}

.input{
  background-color: #1F2C34;
  width: 250px;
  height: 40px;
  border-radius: 20px;
  color: #6D7C85;
  padding-top: 6px;
  padding-left: 10px;
}

.boxText{
  position: relative;
  background-color: #1F2C34;
  width: 150px;
  height: 30px;
  border-radius: 10px;
  color: #E9EDEF;
}

.triangulo{
  position: absolute;
  top: -2.5px;
  left: -6px;
  width: 0px;
  height: 0px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #1F2C34;
  transform: rotate(45deg);
}

.cellphone {
  height: 500px;
  width: 470px;
  position: fixed;
  transform-origin: bottom right;
  right: 0;
  bottom: 0;
  transform: rotateZ(-90deg);
  transition: all 0.7s ease-in-out;
}
.cellphone:after {
  width: 100%;
  height: 100%;
  position: absolute;
  content: '';
  background: no-repeat;
  z-index: -1;
}
.cellphone.show {
  transform: rotateZ(0deg);
}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

.circle-image3{
  width: 70px;
  height: 70px;
  background-image: url('../curriculumStart/myPhoto.png');
  background-size: cover;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.instagram li{
  cursor: none;
}
.messageButton{
  background-color: rgba(253, 253, 253, 1);
  border: 1px solid black;
  width: 150px;
  height: 30px;
  color: #E9EDEF;
  cursor: pointer;
}

.sound{
  position: absolute;
  top: 95%;
  left: 10px;
  width: 250px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  z-index: -1;
}

.sound.show{
  z-index: 1;
}

.sound a:hover, .sound input:hover{
  cursor: pointer;
}

.profileImage{
  width: 100%;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 100px);
  grid-gap: 1em;
}

footer i {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}

.messageButton a{
  text-decoration: none;
  color: #000;
}

.gitCell .modal-header{
  background-color: #24292F;
  display: flex; 
  justify-content:space-between; 
  text-align: center; 
  align-items: center;
}
.circle-imageGit{
  width: 80px;
  height: 80px;
  background-image: url('../curriculumStart/myPhoto.png');
  background-size: cover;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.buttonGit{
  background-color: #F7F8FA;
  border: thin solid #EAEBED;
  border-radius: 5px;
  box-shadow: 1px 3px #EAEBED;
  width: 450px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.readme, .pinned{
  border: 1px solid #EEF0EF;
  border-radius: 10px;
}


#gitHubModalCenter .modal-body, #gitHubRepoModalCenter .modal-body{
  max-height: calc(100vh - 300px);
}

.list ul li{
  display: inline;
  padding: 4px;
  padding-bottom: 15px;
}

.public{
  border: 1px solid #EEF0EF;
  padding: .12em .5em;
  border-radius: 10px;
}

.language{
  display: inline-block !important;
}
.repo-language-color {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.git, .linkedin{
  width: 300px;
  height: 50px;
}

.linkedin{
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(70, 70, 70, 0.7);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  color: #fff;
}
.git{
  position: absolute;
  top: 0;
  left: 300px;
  background-color: rgba(22, 22, 22, 0.7);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  color: #fff;
}

.navPC .headerNav .modal-header{
  background-color: #24292F;
  height: 100px;
}

.searchBar{
  position: absolute;
  background-color: rgba(70, 70, 70, 0.7);
  height: 50px;
  width: 100%;
  left: 0;
  top: 50px;
}

.linkbar{
  position: absolute;
  left: 130px;
  top: 8px;
  background-color: rgba(22, 22, 22, 0.7);
  width: 800px;
  height: 30px;
  color: #fff;
}
.linkedin-body{
  background-color: #f3f2ef;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.header-left svg {
  object-fit: contain;
  margin-right: 10px;
}
.linkedin-header{
  width: 100%;
  position: sticky;
  display: flex;
  top: 0;
  z-index: 999;
  justify-content: space-evenly;
  border-bottom: 0.1px solid lightgray;
  padding: 10px;
  background-color: white;
}

.header-left{
  display: flex;
}
.header-right{
  display: flex;
}
.header-search{
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 40px;
  color: gray;
  background-color: #eef3f8;
}
.header-search input{
  outline: none;
  border: none;
  background: none;
}

.header-option{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  color: gray;
  cursor: pointer;
}
.header-option:hover{
  color: black;
}
.header-option h3{
  font-size: 12px;
  margin-top: 10px;
  font-weight: 400;
}

.linkedin-main{
  background-color: #FFFFFF;
  margin-top: 30px;
  border-radius: 10px;
}
.linkedin-main-header .profile-background-image__image{
  
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.linkedin-main-header{
  position: relative;
  display: flex;
  flex-direction: column;
}
.linkedin-main-header .profile-img{
  position: absolute;
  border-radius: 50%;
  margin-left: 30px; 
  margin-top: 70px;
}

.linkedin-main-info{
  margin-left: 30px; 
  margin-top: 90px;
}
.linkedin-main-info h1{
  font-size: 30px;
}
.linkedin-main-info p{
  line-height: 0.5px;
}
.linkedin-main-info .loc{
  color: gray;
  font-size: 14px;
}
.linkedin-main-job{
  background-color: #E9E5DF;
  width: 40%;
  height: 80px;
  margin-left: 30px;
  margin: 30px;
  border-radius: 7px;
  display: flex;
  align-items: center;
}

.linkedin-main-job-info h3{
  font-size: 20px;
  margin-left: 12px;
}
.linkedin-main-job-info p{
  color: gray;
  font-size: 13px;
  line-height: 0.5px;
  margin-bottom: 5px;
  margin-left: 12px;
}
.linkedin-main-job-info a{
  font-size: 13px;
  margin-left: 12px;
}

.linkedin-about{
  background-color: #FFFFFF;
  margin: 30px;
  border-radius: 10px;
  width: 71%;
}
.linkedin-about p{
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 14px;
}
.linkedin-about h2{
  margin-left: 30px;
  margin-top: 30px;
  font-size: 25px;
}