@import url("https://fonts.googleapis.com/css?family=Ubuntu");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  
}

.bg {
  position: absolute;
  left: -30px;
  width: calc(100vw + 60px);
  filter: blur(0px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-repeat: no-repeat;
}

.loadingText {
  font-size: 50px;
  color: #fff;
}

.modal-content-Cellphone{
  width: 100%;
  height: 80%; 
  display: flex;
  justify-content: bottom;
  align-items: center;
  flex-direction: column;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.modal-dialog-Cellphone{
  position: fixed;
  top: 35%;
  right: auto;
  left: 50%;
  bottom: 0;
}

.modal{
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  margin: 0;
}

.top{
  background-color: #1F2C34;
  height: 80px;
}

ul{
  list-style: none;
  
}
ul li {
  color: #6D7C85;
  display: inline;
  padding: 4px;
}

ul li:hover {
  cursor: pointer;
  
}
.containerChat{
  background-color: #121B22;
  height:360px;
}
.circle-image{
  width: 40px;
  height: 40px;
  background-image: url('../curriculumStart/myPhoto.png');
  background-size: cover;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.mainChat:hover{
  cursor: pointer;
}
.topChat{
  background-color: #1F2C34;
  height: 50px;
}

.circle-image2{
  width: 30px;
  height: 30px;
  background-image: url('../curriculumStart/myPhoto.png');
  background-size: cover;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.containerChat2{
  background-image: url('../curriculumStart/whatsappBackground.jpg');
  height:390px;
}

.input{
  background-color: #1F2C34;
  width: 250px;
  height: 40px;
  border-radius: 20px;
  color: #6D7C85;
  padding-top: 6px;
  padding-left: 10px;
}

.boxText{
  position: relative;
  background-color: #1F2C34;
  width: 150px;
  height: 30px;
  border-radius: 10px;
  color: #E9EDEF;
}

.triangulo{
  position: absolute;
  top: -2.5px;
  left: -6px;
  width: 0px;
  height: 0px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #1F2C34;
  transform: rotate(45deg);
}

.cellphone {
  height: 500px;
  width: 470px;
  position: fixed;
  transform-origin: bottom right;
  right: 0;
  bottom: 0;
  transform: rotateZ(-90deg);
  transition: all 0.7s ease-in-out;
}
.cellphone:after {
  width: 100%;
  height: 100%;
  position: absolute;
  content: '';
  background: no-repeat;
  z-index: -1;
}
.cellphone.show {
  transform: rotateZ(0deg);
}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

.circle-image3{
  width: 70px;
  height: 70px;
  background-image: url('../curriculumStart/myPhoto.png');
  background-size: cover;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.instagram li{
  cursor: none;
}
.messageButton{
  background-color: rgba(253, 253, 253, 1);
  border: 1px solid black;
  width: 150px;
  height: 30px;
  color: #E9EDEF;
  cursor: pointer;
}