@import url("https://fonts.googleapis.com/css?family=Ubuntu");
* {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  
}

.bg {
  position: absolute;
  left: -30px;
  width: calc(100vw + 60px);
  filter: blur(0px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-repeat: no-repeat;
}

.loadingText {
  font-size: 50px;
  color: #fff;
}